.pio
.cache
.dummy
.local-backup
local-device/
.pioenvs
.piolibdeps
.pio-core
.pio-core-local
.clang_complete
.gcc-flags.json
.DS_Store
.vscode
compile_commands.json
managed_components
data/wc/*.gz
sdkconfig*
R#U00e9seau
